.container {
  position: relative;
  display: inline-block;
}
.btn {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-brand-1);
  outline: none;
  gap: 1rem;
  align-items: center;
  border: 1px solid var(--dark-brand-4);
  border-radius: 0.3rem;
  color: var(--dark-brand-3);
  padding: 0.5rem;
  min-width: 10rem;
  width: max-content;
  /* text-wrap: nowrap; */
  /* height: 2.8rem; */
  position: relative;
  cursor: pointer;
  /* overflow: hidden; */
  transition: all 0.13s linear;
}
.btn:active {
  filter: brightness(99%);
}
.btn:hover {
  opacity: .9;
}

/* .btnActive {
    background-color: rgba(211, 211, 211, 0.16);
} */
.btn span {
  font-size: 1.2rem;
}
.btn svg {
  display: block;
  color: var(--dark-brand-3);
  width: 1rem;
  height: 1rem;
}
.rotateSVG {
  transform: rotate(-180deg);
  color: var(--light-brand-1);
}
.container ul {
  position: absolute;
  background-color: var(--light-brand-1);
  z-index: 999;
  padding: 0.5rem;
  top: 1rem;
  right: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.116);
  border-radius: 0.5rem;
  scrollbar-width: auto;
  /* overflow: hidden; */
}
.container ul::-webkit-scrollbar {
  width: .6rem;
}
.container ul::-webkit-scrollbar-track {
  background-color: var(--primary-color-weak);
  border-radius: 1rem;
}
.container ul::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 1rem;
}

/* .container ul::-webkit-scrollbar-thumb:hover  {
    background-color: var(--white--brand--1);
} */

.container ul li {
  font-size: small;
  transition: all 0.05s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  /* margin: .4rem 0; */
  border-radius: 0.3rem;
  padding: 0.4rem;
  /* max-width: 10rem; */
}
.container ul li:hover {
  color: var(--light-brand-1);
  background-color: var(--primary-color);
}
.container ul li:hover svg {
  color: var(--light-brand-1);
}
.activeOutline {
  outline: 2px solid var(--primary-color);
}
.container ul li svg {
  color: var(--secondary-color);
}
/* .btn::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 1.9rem;
  width: 0.1rem;
  height: 1.2rem;
  transform: translate(-50%,-50%);
  background-color: var(--dark-brand-4);
} */
