.attendanceDescriptionContainer {
  margin-top: 1rem;
}
.mainChild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: red; */

}
.mainChild > p {
    background-color: var(--attendance-color-1);
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-size: 1.4rem;
}

.mainChild:first-of-type div label {
    font-size: 1.2rem;
}
/* .mainChild label {
    position: absolute;
    content: '';
    top: 70%;
    right: 1rem;
    border-radius: .3rem;
    background-color: #fff;
    z-index: 9;
    font-size: 1rem;
    padding: 0 .3rem !important;


} */