.button {
    outline: 0;
    background-color: var(--primary-color);
    display: flex;
    padding: .6rem 0.7rem;
    /* border: 1px solid var(--dark-brand-1); */
    border: none;
    color: var(--light-brand-1);
    border-radius: .3rem;
    cursor: pointer;
    transition: all 0.1s linear;
    align-items: center;
    /* gap: .5rem; */
}
.button:disabled {
    background-color: var(--dark-brand-3);
    cursor: not-allowed;
}

.button:hover {
    opacity: 0.8;
    box-shadow: none;
}
.button:active {
    transform: translateY(-1px);
}