.inputContainer {
  position: relative;
}

.inputContainer input {
  width: 100%;
  padding: .8rem 1rem;
  border: 1px solid var(--dark-brand-4);
  outline: none;
  border-radius: 0.3rem;
  /* background-color: var(--dark-brand-4); */
  color: var(--dark--brand--1);
}
.inputContainer input::placeholder {
  font-size: 1.4rem;
  font-family: inherit;
  color: var(--dark-brand-4);
}

.inputContainer input:focus {
  transition: border-color 0.2s linear;
  border-color: var(--primary-color);
  background-color: var(--primary-color-weak);
  transition: background-color 0.15ms linear;
}
.error {
  position: absolute;
  content: "";
  top: 0;
  font-size: .8rem;
  top: -0.5rem;
  left: .6rem;
  /* padding: .2rem 0; */
  color: rgb(255, 0, 0);
  background-color: var(--light-brand-1);
  border-radius: .2rem;
  padding: 0 0.1rem;
}
.borderRed {
  border-color: red !important;
}
.green {
  border-color: var(--green-brand-1) !important;
}

