.LogoContainer {
    width: 12.8rem;
    height: 12.8rem;
    margin: 2rem auto;
    cursor: pointer;
}
.LogoContainer img {
    border-radius: 100%;
    filter: brightness(1.2);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
