.showComponentContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.4rem;
  padding: 1rem;
  transition: box-shadow .3s linear;
  background-color: var(--light-brand-1);
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.046);
}
.showComponentContainer:hover {
  box-shadow: none;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
}

.showComponentContainer div:first-child svg {
  width: 3rem;
  height: 3rem;
}
.showComponentContainer div:last-child p:first-child {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.showComponentContainer div:last-child p:last-child {
  font-weight: 600;
  padding-top: .3rem;
  font-size: 1.5rem;
  color: var(--dark-brand-3);
}
