.inputContainer {
  position: relative;
}

.inputContainer input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid var(--dark-brand-4);
  outline: none;
  border-radius: 0.3rem;
  /* background-color: var(--dark-brand-4); */
  color: var(--dark--brand--1);
}
.inputContainer input::placeholder {
  font-size: 1.4rem;
  font-family: inherit;
  color: var(--dark-brand-4);
}

.inputContainer input:focus {
  transition: border-color 0.2s linear;
  border-color: var(--primary-color);
  background-color: var(--primary-color-weak);
  transition: background-color 0.15ms linear;
}
.error {
  position: absolute;
  content: "";
  top: 0;
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.6rem;
  /* padding: .2rem 0; */
  color: rgb(255, 0, 0);
  background-color: var(--light-brand-1);
  border-radius: 0.2rem;
  padding: 0 0.1rem;
}
.borderRed {
  border-color: red !important;
}
.green {
  border-color: var(--green-brand-1) !important;
}

.suggestionList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 95%;
  background-color: var(--light-brand-2);
  border-radius: 0.3rem;
  margin-top: 0.3rem;
  padding: .2rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.326);
  max-height: 20rem;
  overflow-y: auto;
  z-index: 20;
}

.suggestionItem {
  padding: 0.6rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggestionItem:hover {
  background-color: var(--primary-color-weak);
}
