/* 
************************************

TYPOGRAPHY SYSTEM

01--Font sizes (px):
10 / 10.4 / 12 / 14 / 16 / 22 / 24 / 28 / 32 / 40 / 64

02--SPACING(gap) System (px):
2 / 5 / 

03--Some more Arbitrary Colors:

04--Line heights:
1.4 / 

05--Shadows:

06--Border--radius:

************************************** */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Inter;
  src:
    url("assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Grey colors */
  --dark-brand-1: #111827;
  --dark-brand-2: #374151;
  --dark-brand-3: #6b7280;
  --dark-brand-4: #a0aec0;

  /* whitE color */
  --light-brand-1: #f7fafc;
  --light-brand-2: #cbd5e0;

  /* myColors */
  --primary-color: #4338ca;
  --primary-color-weak: #e0e7ff;

  --secondary-color: #0369a1;
  --secondary-color-weak: #e0f2fe;

  --ternary-color: #374151;
  --ternary-color-weak: #e5e7eb;

  --yellow-brand-1: yellow;
  --yellow-brand-2: rgba(255, 255, 0, 0.416);

  --color-silver-700: #374151;
  --color-silver-100: #e5e7eb;

  --red-brand-1: #991b1b;
  --red-brand-2: #d14949;
  --red-brand-3: #fee2e2;

  --green-brand-1: #15803d;
  --green-brand-2: #dcfce7;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: Inter, sans-serif;
}

body {
  font-family: inherit;
  line-height: 1.4;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
svg {
  display: block;
}
.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 25rem 1fr;
  gap: 2rem;
  position: relative;
}
/* ------------------------------------------*/
/* Utility Classes
/* ------------------------------------------*/
.max-width {
  max-width: 121rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.justifyEnd {
  justify-content: flex-end;
}
