/* 
************************************

TYPOGRAPHY SYSTEM

01--Font sizes (px):
10 / 10.4 / 12 / 14 / 16 / 22 / 24 / 28 / 32 / 40 / 64

02--SPACING(gap) System (px):
2 / 5 / 

03--Some more Arbitrary Colors:

04--Line heights:
1.4 / 

05--Shadows:

06--Border--radius:

************************************** */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Inter;
  src:
    url("assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Grey colors */
  --dark-brand-1: #111827;
  --dark-brand-2: #374151;
  --dark-brand-3: #6b7280;
  --dark-brand-4: #a0aec0;

  /* whitE color */
  --light-brand-1: #f7fafc;
  --light-brand-2: #cbd5e0;

  /* myColors */
  --primary-color: #4338ca;
  --primary-color-weak: #e0e7ff;

  --secondary-color: #0369a1;
  --secondary-color-weak: #e0f2fe;

  --ternary-color: #374151;
  --ternary-color-weak: #e5e7eb;

  --yellow-brand-1: yellow;
  --yellow-brand-2: rgba(255, 255, 0, 0.416);

  --color-silver-700: #374151;
  --color-silver-100: #e5e7eb;
  --attendance-color-1: #e5e7eb7f;

  --red-brand-1: #991b1b;
  --red-brand-2: #d14949;
  --red-brand-3: #fee2e2;

  --green-brand-1: #15803d;
  --green-brand-2: #dcfce7;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: Inter, sans-serif;
}

body {
  font-family: inherit;
  line-height: 1.4;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
svg {
  display: block;
  outline: none;
}
.main {
  display: grid;
  height: 100vh;
  grid-template-columns: 25rem 1fr;
  gap: 2rem;
  position: relative;
}
.relative {
  position: relative;
}
/* ------------------------------------------*/
/* Utility Classes
/* ------------------------------------------*/
.max-width {
  max-width: 121rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.justifyEnd {
  justify-content: flex-end;
}

.showComponentContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  white-space: nowrap;
}
.m-t {
  margin-top: 3rem;
}
/* ------------------------------------------*/
/* Error Page Styles
/* ------------------------------------------*/
.error-page {
  text-align: center;
  position: absolute;
  height: calc(90vh);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.error-page h1 {
  font-weight: 300;
  position: relative;
}
.error-page_first-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.error-page svg {
  width: 9rem;
  height: 10rem;
  color: var(--red-brand-2);
  padding-left: 1rem;
  display: block;
}
.error-page h1::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: -2rem;
  transform: translateY(-50%);
  height: 10rem;
  width: 0.2rem;
  background-color: var(--color-silver-100);
}
.link,
.link:visited {
  display: flex;
  border: 0;
  font-family: inherit;
  color: var(--dark-brand-3);
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  cursor: pointer;
  transition: opacity color 0.15s linear;
}
.link:hover {
  color: var(--dark-brand-2);
}
.btn:active {
  opacity: var(--dark-brand-1);
  transform: translateY(-1px);
}

/* ------------------------------------------*/
/* Loading styles
/* ------------------------------------------*/
.loadingContainer {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  background-color: var(--dark-brand-9);
  transform: translate(-50%, -50%);
}
